<div class="global-header">
        <div class="global-header-logo">
            <a href="index.html"><img src="../../assets/sib-logo.svg" alt="Hitachi Social Innovation Business"></a>
        </div>
        <div class="global-header__menu">
            <div class="logout hide" data-goto="login.html">
                <span>LOGOUT</span>
                <svg class="icon icon-logout">
                    <use xlink:href="../../assets/icons.svg#icon-logout"></use>
                </svg>
            </div>
            <a href="#" class="megamenu-trigger hide"><span class="megamenu-trigger__icon"></span></a>
        </div>
        <ul class="menu-main-category">
            <li class="not-visible">
                <span>Industries</span>
                <ul class="menu-sub-category">
                    <li data-goto="landing.html">Transportation</li>
                    <li data-goto="landing.html">Manufacturing</li>
                    <li data-goto="landing.html">Smart Spaces</li>
                </ul>
            </li>
            <li class="not-visible">
                <span>Solutions</span>
                <ul class="menu-sub-category">
                    <li data-goto="landing.html">Asset Management</li>
                    <li data-goto="landing.html">Energy Management</li>
                    <li data-goto="landing.html">Video Intelligence</li>
                    <li data-goto="landing.html">Smart Manufacturing</li>
                    <li data-goto="landing.html">Water Solutions</li>
                </ul>
            </li>
            <li class="not-visible">
                <span>Highlighted Use Cases</span>
                <ul class="menu-sub-category">
                    <li data-goto="landing.html">Predictive Maintenance</li>
                    <li data-goto="landing.html">Prescriptive Maintenance</li>
                    <li data-goto="landing.html">Edge</li>
                </ul>
            </li>
        </ul>
</div>
